<div class="page-header">
  <div class="pull-right">

  <%= form_tag '/', method: :get, class: 'form-inline' do %>
    <%= label_tag("Twitter Username") %>
    <%= text_field_tag :username, nil, class: 'form-control' %>
    <%= submit_tag 'Get Tweets', class: 'btn btn-primary' %>
  <% end %>
  </div>

  <h1>See tweets from any user</h1>
  
</div>

<% @tweets.each do |tweet| %>
  <div class="col-md-6">
    <blockquote>
      <p><%= tweet.text %>
      <small><%= tweet.user.name %> | <%= tweet.user.created_at %></small>
    </blockquote>
  </div>
<% end %>
