<h3>Tweets from any user you enter below</h3>

<%= form_tag '/', method: :get %>
<%= label_tag("Twitter Username") %>
<%= text_field_tag(:username) %>
<%= submit_tag %>

<ul>
  <% @othertweets.each do |tweet| %>
    <li><%= tweet.text %></li>
  <% end %>
</ul>
